@model WebsiteMVC.Models.SinhVien

@{
    ViewBag.Title = "Sinh viên";
    Layout = "~/Areas/AdminCP/Views/Shared/_LayoutAmin.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">

        @using (Html.BeginForm("Edit", "SinhVien", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IDSinhVien)
                @Html.HiddenFor(model => model.Active)
                @Html.HiddenFor(model => model.Username)
                @Html.HiddenFor(model => model.Avatar)

                <div class="form-group">
                    @Html.LabelFor(model => model.IDLopHoc, "Lớp học", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(q => q.IDLopHoc, ViewBag.IDLopHocs as SelectList, "---Vui lòng chọn---", htmlAttributes: new { @class = "form-control", required = "true" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FullName, "Họ tên", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Username, "Tên đăng nhập", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <p class="form-control"><b>@Html.DisplayFor(model => model.Username)</b></p>
                        <p>*** Tên đăng nhập được tự động tạo.</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Avatar, "Ảnh đại diện", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <img src="@(Model.Avatar)" alt="Alternate Text" style="max-height: 100px"/>
                        <br />
                        <input type="file" name="name" value="" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Adress, "Quê quán", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CMND, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CMND, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CMND, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Birthday, "Ngày sinh", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Birthday, new { @class = "form-control", required = "true", type = "date", Value = Model.Birthday?.ToString("yyyy-MM-dd") })
                        @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Male, "Giới tính", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            <label><input type="checkbox" name="name" value="true" @(Model.Male == true ? "checked" : "") /> Nam?</label>
                            @Html.ValidationMessageFor(model => model.Male, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, "Điện thoại", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Email,  new { @class = "form-control" } )
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Born, "Quê quán", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Born, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Born, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.YearJoin, "Năm nhập học", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.YearJoin,  new { @class = "form-control", type = "number"})
                        @Html.ValidationMessageFor(model => model.YearJoin, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn green" />
                        <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-lg fa-arrow-circle-o-left"></i> QUAY LẠI DANH SÁCH</a>
                    </div>
                </div>

                <p>Lưu ý:</p>
                <p>Tên đăng nhập và mật khẩu sẽ được tạo sau lần đầu tạo tài khoản.</p>
                <p>Mật khẩu sẽ là ngày tháng năm sinh của sinh viên. VD 23/04/1990 => mật khẩu: 23041990</p>
            </div>
        }

    </div>
</div>

