<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
    <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
    <li class="sidebar-toggler-wrapper">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler">
        </div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
    </li>
    <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
    <li>
        <a href="@Url.Action("Index","GiaoVien")">
            <i class="icon-home"></i>
            <span class="title">GIÁO VIÊN</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index","KhoiHoc")">
            <i class="icon-home"></i>
            <span class="title">KHỐI HỌC</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index","InfoKyHoc")">
            <i class="icon-home"></i>
            <span class="title">THÔNG TIN NĂM HỌC</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index","LopDT")">
            <i class="icon-home"></i>
            <span class="title">LỚP ĐÀO TẠO</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index","LopHoc")">
            <i class="icon-home"></i>
            <span class="title">LỚP HỌC</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index","PhongHoc")">
            <i class="icon-home"></i>
            <span class="title">PHÒNG HỌC</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index","SinhVien")">
            <i class="icon-home"></i>
            <span class="title">SINH VIÊN</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index","TinTuc")">
            <i class="icon-home"></i>
            <span class="title">TIN TỨC</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index","KQHT")">
            <i class="icon-home"></i>
            <span class="title">NHẬP ĐIỂM</span>
        </a>
    </li>
    <li>
        <a href="javascript:;">
            <i class="icon-home"></i>
            <span class="title">DANH MỤC</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="@Url.Action("Index","MonHoc")">
                    <i class="icon-bar-chart"></i>
                    MÔN HỌC
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index","NamHoc")">
                    <i class="icon-bar-chart"></i>
                    NĂM HỌC
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index","KyHoc")">
                    <i class="icon-bar-chart"></i>
                    KỲ HỌC
                </a>
            </li>
        </ul>
    </li>
</ul>
