@model IEnumerable<WebsiteMVC.Models.TinTuc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Layout12vs363" id="main-content" role="main">
    <div class="portlet-layout row-fluid Hust_Tintuc-row1">
        <div class="portlet-column portlet-column-only span12 l363-row1-cot1" id="column-1">
            <div class="portlet-dropzone portlet-column-content portlet-column-content-only" id="layout-column_column-1">
                <div class="portlet-boundary portlet-boundary_1_WAR_htmlportlet_ portlet-static portlet-static-end portlet-borderless html-portlet " id="p_p_id_1_WAR_htmlportlet_INSTANCE_2qFhStvFcUvV_">
                    <span id="p_1_WAR_htmlportlet_INSTANCE_2qFhStvFcUvV"></span> <div class="portlet-borderless-container" style="">
                        <div class="portlet-body">
                            <style type="text/css">
                                .image-gioithieu {
                                    background: transparent url("/documents/21257/0/Gioithieu.png/0e3a9dc6-a75f-4038-a83d-06d32ffa0cde?t=1462790417000");
                                    height: 65px;
                                    margin-bottom: 10px;
                                    margin-top: 5px
                                }

                                    .image-gioithieu p {
                                        color: #FFF;
                                        margin-left: 30px
                                    }
                            </style> <div class="image-gioithieu"> <p style="font-size: 24px; line-height: 3;"><a href="/web/vi/home" style="color:#FFF">Trang chủ</a> &gt; <a href="/web/vi/tin-tuc-thong-bao" style="color:#FFF">Tin tức &amp; Thông báo</a></p> </div>
                        </div>
                    </div>
                </div> <div class="portlet-boundary portlet-boundary_1_WAR_htmlportlet_ portlet-static portlet-static-end portlet-borderless html-portlet " id="p_p_id_1_WAR_htmlportlet_INSTANCE_NyvSIRe8od7N_"> <span id="p_1_WAR_htmlportlet_INSTANCE_NyvSIRe8od7N"></span> <div class="portlet-borderless-container" style=""> <div class="portlet-body"> <p style="font-size: 24px; line-height: 2;margin-left:30px"><a href="/web/vi/doi-moi-giao-duc" style="color:#333">T</a>in tức &amp; Thông báo</p> </div> </div> </div>
            </div>
        </div>
    </div>
    <div class="portlet-layout row-fluid Hust_Tintuc-row2">
        <div class="portlet-column span9 Hust_Tintuc-row2-cot2" id="column-5">
            <div class="portlet-dropzone portlet-column-content" id="layout-column_column-3">
                <div class="portlet-boundary portlet-boundary_1_WAR_portalnewspublisherportlet_ portlet-static portlet-static-end portlet-borderless portal-newspublisher-portlet " id="p_p_id_1_WAR_portalnewspublisherportlet_INSTANCE_pIrCQOjLR74r_">
                    <span id="p_1_WAR_portalnewspublisherportlet_INSTANCE_pIrCQOjLR74r"></span> <div class="portlet-borderless-container" style="">
                        <div class="portlet-body">
                            <div class="news-wrapper ">
                                <style>
                                    .tintuc60-news {
                                        float: left;
                                        width: 100%;
                                        display: block;
                                        border-right: 1px solid #e5e5e5;
                                    }

                                        .tintuc60-news .news-block {
                                            float: left;
                                            width: 95%;
                                            border-bottom: 1px solid #e5e5e5;
                                            padding-bottom: 20px;
                                            min-height: 220px;
                                        }

                                            .tintuc60-news .news-block .left-img {
                                                width: 165px;
                                                height: 115px;
                                                margin-top: 25px;
                                                position: relative;
                                                overflow: hidden;
                                                float: left;
                                            }

                                                .tintuc60-news .news-block .left-img img {
                                                    position: absolute;
                                                    top: 50%;
                                                    left: 50%;
                                                    height: 100%;
                                                    width: auto;
                                                    max-height: 100%;
                                                    max-width: none;
                                                    transform: translateX(-50%) translateY(-50%);
                                                    -webkit-transform: translateX(-50%) translateY(-50%);
                                                    -moz-transform: translateX(-50%) translateY(-50%);
                                                    -o-transform: translateX(-50%) translateY(-50%);
                                                    -ms-transform: translateX(-50%) translateY(-50%);
                                                }

                                            .tintuc60-news .news-block .content {
                                                padding-top: 20px;
                                                padding-left: 190px;
                                            }

                                                .tintuc60-news .news-block .content .news-title {
                                                    color: #b80f14;
                                                    font-size: 20px;
                                                }

                                                .tintuc60-news .news-block .content .news-date {
                                                    color: #898989;
                                                    font-size: 15px;
                                                    font-style: italic;
                                                    padding: 10px 0;
                                                }

                                    .pages {
                                        float: left;
                                        display: block;
                                        border: none;
                                        width: 100%;
                                        background: #fbfbf9;
                                    }

                                        .pages .currentpage, .pages a:hover {
                                            background: #f1f1e9;
                                            color: #9f1513;
                                        }

                                        .pages a, .pages .currentpage {
                                            padding: 10px 15px;
                                            font-size: 14px;
                                            margin: 0;
                                            display: inline-block;
                                        }

                                    .tintuc60-news .icon-detail {
                                        color: #9c1010 !important;
                                        font-style: italic !important;
                                    }
                                </style>
                                <div class="tintuc60-news">
                                    @foreach (var item in Model)
                                    {
                                        <div class="news-block">
                                            <div class="left-img">
                                                <a href="@Url.Action("ChiTiet",new { item.IDTinTuc })">
                                                    <img src="@item.Image" width="165">
                                                </a>
                                            </div>
                                            <div class="content">
                                                <a href="@Url.Action("ChiTiet",new { item.IDTinTuc })">
                                                    <div class="news-title">@item.TieuDe</div>
                                                </a>
                                                <div class="news-date">@(item.CreateTime?.ToString("dd/MM/yyyy"))</div>
                                                <div style="color: black; margin-bottom: 3%;">@item.TomTat ...</div>
                                                <a href="@Url.Action("ChiTiet",new { item.IDTinTuc })">
                                                    <span>> Xem thêm</span>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                </div> <div class="pages">
                                    <span class="currentpage">1</span>
                                    <a href="#2" style="color: #605750;">2</a>
                                    <a href="#3" style="color: #605750;">3</a>
                                    <span class="currentpage" style="background: #fbfbf9;">...</span>
                                    <a href="#88" style="color: #605750;">88</a>
                                    <a href="#2" style="color: #605750;">Next <img alt="" src="/portal-newspublisher-portlet/images/button-next.jpg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-column portlet-column-last span3 Hust_Tintuc-row2-cot3" id="column-4">
            <div class="portlet-dropzone portlet-column-content portlet-column-content-last" id="layout-column_column-4">
                <div class="portlet-boundary portlet-boundary_hustevent_WAR_DemoSpringMVCportlet_ portlet-static portlet-static-end portlet-borderless first-demo-spring-mvc-portlet " id="p_p_id_hustevent_WAR_DemoSpringMVCportlet_INSTANCE_duaXyD7S44EF_">
                    <span id="p_hustevent_WAR_DemoSpringMVCportlet_INSTANCE_duaXyD7S44EF"></span> <div class="portlet-borderless-container" style="">
                        <div class="portlet-body">
                            <style>
                                .event-title-highlight {
                                    font-size: 22px;
                                    padding: 15px 25px;
                                    color: #9c1010;
                                    border-top: solid;
                                    border-bottom: 1px solid;
                                    border-bottom-color: #e2e2e2;
                                }

                                .wrap-highlight {
                                    padding: 25px 24px;
                                    margin-top: -15px;
                                }

                                .event-month-highlight {
                                    text-align: center;
                                    color: #545454;
                                    font-size: 20px;
                                }

                                .event-day-highlight {
                                    text-align: center;
                                    color: #7e0600;
                                    font-size: 30px;
                                    margin-top: 10px;
                                    margin-bottom: 10px;
                                }

                                .event-content-highlight {
                                    margin-left: 15px;
                                    color: #545454;
                                    margin-top: -10px;
                                    font-size: 15px;
                                }

                                .event-background-highlight {
                                    background: transparent url("/DemoSpringMVC-portlet/images/highlight-edge.png") no-repeat scroll 100% 100%;
                                }
                            </style> <div style="background: #f8f8f4"> <div class="event-background-highlight"> <div class="event-title-highlight" style="font-family: Arial;">SỰ KIỆN NỔI BẬT</div> <div class="wrap-highlight"> <table> <tr> <td> <div class="event-month-highlight"> T04 </div> <div class="event-day-highlight"> 18 </div> </td> <td><div class="event-content-highlight">Ngày hội tư vấn: Học thạc sĩ - Cơ hội học bổng và nghề nghiệp</div></td> </tr> <!-- <tr> <td><label style="text-align: right; color: #a0a0a0; margin-bottom: -1px;">></label></td> <td><a style="margin-left: 15px;color: #9c1010;font-size: 15px;" >Xem chi tiết</a></td> </tr> --> </table> </div> </div> </div>
                        </div>
                    </div>
                </div> <div class="portlet-boundary portlet-boundary_1_WAR_portalnewspublisherportlet_ portlet-static portlet-static-end portal-newspublisher-portlet " id="p_p_id_1_WAR_portalnewspublisherportlet_INSTANCE_LktksU7V1kSn_">
                    <span id="p_1_WAR_portalnewspublisherportlet_INSTANCE_LktksU7V1kSn"></span> <section class="portlet" id="portlet_1_WAR_portalnewspublisherportlet_INSTANCE_LktksU7V1kSn">
                        <header class="portlet-topper"> <div class="portlet-fulltitle"> <h1 class="portlet-title"> <span class="" onmouseover="Liferay.Portal.ToolTip.show(this, 'tin\x20nổi\x20bật')"> <img id="rjus_column4_1" src="/portal-newspublisher-portlet/icon.png" alt="" /> <span class="taglib-text hide-accessible">tin nổi bật</span> </span> <span class="portlet-title-text">tin nổi bật</span> </h1> </div> <menu class="portlet-topper-toolbar" id="portlet-topper-toolbar_1_WAR_portalnewspublisherportlet_INSTANCE_LktksU7V1kSn" type="toolbar"> </menu> </header> <div class="portlet-content">
                            <div class=" portlet-content-container" style="">
                                <div class="portlet-body">
                                    <div class="news-wrapper ">
                                        <style>
                                            .news-list-title-wrapper .xemToanBo {
                                                color: #337ab7;
                                            }

                                            .news-list-title-wrapper .news-list-title li {
                                                line-height: 2;
                                                text-align: justify;
                                            }
                                        </style> <div class="news-list-title-wrapper"> <ul class="news-list-title"> <li><a href="https://www.hust.edu.vn/tin-tuc/-/asset_publisher/AKFI5qRls1e8/content/chi-tieu-tuyen-sinh-du-kien-cac-nganh-nam-2018" title="Chỉ tiêu tuyển sinh dự kiến các ngành năm 2018 và điểm chuẩn các năm"> Chỉ tiêu tuyển sinh dự kiến các ngành năm 2018 và điểm chuẩn các năm </a></li> <li><a href="https://www.hust.edu.vn/tin-tuc/-/asset_publisher/AKFI5qRls1e8/content/-h-bach-khoa-ha-noi-tiep-tuc-ung-au-trong-bang-xep-hang-webometrics" title="ĐH Bách khoa Hà Nội tiếp tục đứng đầu trong bảng xếp hạng Webometrics"> ĐH Bách khoa Hà Nội tiếp tục đứng đầu trong bảng xếp hạng Webometrics </a></li> <li><a href="https://www.hust.edu.vn/tin-tuc/-/asset_publisher/AKFI5qRls1e8/content/truong-dhbk-ha-noi-co-4-giao-su-va-33-pho-giao-su-nam-2017" title="Trường ĐHBK Hà Nội có 4 Giáo sư và 33 Phó Giáo sư năm 2017"> Trường ĐHBK Hà Nội có 4 Giáo sư và 33 Phó Giáo sư năm 2017 </a></li> <li><a href="https://www.hust.edu.vn/tin-tuc/-/asset_publisher/AKFI5qRls1e8/content/truong-hbk-ha-noi-nang-tam-hop-tac-voi-cong-ty-tnhh-ien-tu-samsung-viet-nam" title="Trường ĐHBK Hà Nội nâng tầm hợp tác với Công ty TNHH Điện tử Samsung Việt Nam"> Trường ĐHBK Hà Nội nâng tầm hợp tác với Công ty TNHH Điện tử Samsung Việt Nam </a></li> <li><a href="https://www.hust.edu.vn/tin-tuc/-/asset_publisher/AKFI5qRls1e8/content/hoi-nghi-ai-bieu-can-bo-vien-chuc-truong-hbk-ha-noi-nam-2017" title="Hội nghị đại biểu cán bộ viên chức Trường ĐHBK Hà Nội năm 2017"> Hội nghị đại biểu cán bộ viên chức Trường ĐHBK Hà Nội năm 2017 </a></li> </ul> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
